<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta html-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">

	<title>HawkeyePi</title>
	<meta name="description" content="Hawkeye Pi Printing Camera" />

	<!-- desktop -->
	<link href="img/logo064.png" rel="shortcut icon" />
	<!-- for android -->
	<link href="img/logo192.png" rel="icon" />
	<meta name="mobile-web-app-capable" content="yes">
	<!-- iOS -->
	<link href="img/logo180.png" rel="apple-touch-icon" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<!-- general mobile -->
	<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
	<!--
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" /> 
	-->

	<link rel="stylesheet" href="styles.css">
</head>

<body>
	<div class="banner">
		<!-- the top button of right justified so they are created in revers order -->
		<a href="/api"><button class="smallbutton right">Admin</button></a>
		<a href="/remote"><button class="smallbutton right">Remote</button></a>
		<a href="/webcam"><button class="smallbutton right">Cam</button></a>
		{% if folder == 'thumbs' %}
			<a href="/bw"><button class="smallbutton right">B&amp;W</button></a>
		{% else %}
			<a href="/"><button class="smallbutton right">Color</button></a>
		{% end %}
		<div class="title">Hawkeye Pi</div>
	</div>

	<div class="photoset">
		<!-- IMPORTANT: the web page assumes a symlink from www/photos to the USB folder -->
		{% for photo in photos %}
		<div class="thumbnail">
			<a href="photos/{{ folder }}/{{ escape(photo) }}" target="_self">
					<img class="image" src="photos/{{ folder }}/{{ escape(photo) }}">
				</a>
			<a href="/api?cmd=print&val={{ escape(photo) }}" target="_self"><img class="printbutton" src="img/print.png"></a>
			<a href="photos/{{ escape(photo) }}" target="_blank"><img class="zoombutton" src="img/increase.png"></a>
			<a href="/api?cmd=delete&val={{ escape(photo) }}" target="_self"><img class="deletebutton" src="img/delete.png"></a>
		</div>
		{% end %}
	</div>
</body>

</html>