<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta html-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">

	<title>HawkeyePi Admin</title>
	<meta name="description" content="Hawkeye Pi Printing Camera" />

	<!-- desktop -->
	<link href="img/logo064.png" rel="shortcut icon" />
	<!-- for android -->
	<link href="img/logo192.png" rel="icon" />
	<meta name="mobile-web-app-capable" content="yes">
	<!-- iOS -->
	<link href="img/logo180.png" rel="apple-touch-icon" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<!-- general mobile -->
	<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
	<!--
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" /> 
	-->

	<link rel="stylesheet" href="styles.css">
</head>

<body>
	<div class="banner">
		<!-- the top button of right justified so they are created in revers order -->
		<a href="/webcam"><button class="smallbutton right">Cam</button></a>
		<a href="/remote"><button class="smallbutton right">Remote</button></a>
		<a href="/"><button class="smallbutton right">Photos</button></a>
		<div class="title">Hawkeye Pi Admin</div>
		<img width="100%" id="video" src="img/loading.jpg"></img>
		<div id="message" class="error-message">{{ message }}</div>
	</div>

	<div class="admin">
		<div class="section"> Camera </div>

		<div class="twocolumn">Brightness:
			<a href="/api?cmd=brightnessdn" target="_self"><img class="iconbutton" src="img/decrease.png"></a> {{ brightness }}
			<a href="/api?cmd=brightnessup" target="_self"><img class="iconbutton" src="img/increase.png"></a>
		</div>

		<div class="twocolumn">Contrast:
			<a href="/api?cmd=contrastdn" target="_self"><img class="iconbutton" src="img/decrease.png"></a> {{ contrast }}
			<a href="/api?cmd=contrastup" target="_self"><img class="iconbutton" src="img/increase.png"></a>
		</div>



		<div class="twocolumn">
			<div>
				ISO:
				<select name="iso" id="iso" value="{{ iso }}" onchange="location.href='/api?cmd=iso&val='+this.value">
				{% for choice in iso_choices %}
					{% if iso == choice %} <option selected value="{{ choice }}">{{ choice }}</option> {% else %} <option value="{{ choice }}">{{ choice }}</option> {% end %}
				{% end %}
				</select>
			</div>
			<div>
				AWB:
				<select name="awb_mode" id="awb_mode" value="{{ awb_mode }}" onchange="location.href='/api?cmd=awb&val='+this.value">
				{% for choice in awb_choices %}
					{% if awb_mode == choice %} <option selected value="{{ choice }}">{{ choice }}</option> {% else %} <option value="{{ choice }}">{{ choice }}</option> {% end %}
				{% end %}
				</select>
			</div>
			<div>
				Metering:
				<select name="meter_mode" id="meter_mode" value="{{ meter_mode }}" onchange="location.href='/api?cmd=metering&val='+this.value">
				{% for choice in meter_choices %}
					{% if meter_mode == choice %} <option selected value="{{ choice }}">{{ choice }}</option> {% else %} <option value="{{ choice }}">{{ choice }}</option> {% end %}
				{% end %}
			</select>
			</div>
			<div>
				Exposure:
				<select name="exposure_mode" id="exposure_mode" value="{{ exposure_mode }}" onchange="location.href='/api?cmd=exposure&val='+this.value">
				{% for choice in exposure_choices %}
					{% if exposure_mode == choice %} <option selected value="{{ choice }}">{{ choice }}</option> {% else %} <option value="{{ choice }}">{{ choice }}</option> {% end %}
				{% end %}
				</select>
			</div>
			<div>
				Speed:
				<select name="speed" id="speed" value="{{ speed }}" onchange="location.href='/api?cmd=speed&val='+this.value">
				{% for choice in speed_choices %}
					{% if speed == choice %} <option selected value="{{ choice }}">{{ choice }}</option> {% else %} <option value="{{ choice }}">{{ choice }}</option> {% end %}
				{% end %}
				</select>
			</div>
		</div>

		<div class="twocolumn">
			<div>
				Rotate:
				<a href="/api?cmd=rotatedn" target="_self"><img class="iconbutton" src="img/decrease.png"></a> {{ rotation }}
				<a href="/api?cmd=rotateup" target="_self"><img class="iconbutton" src="img/increase.png"></a>
			</div>
			<div>
				{% if awb_mode == "off" %}
					Red:<input  type="text" size="4" id="awb_red"  value="{{ awb_red }}"  onblur="location.href='/api?cmd=awb_red&val='+this.value"> 
					Blue:<input type="text" size="4" id="awb_blue" value="{{ awb_blue }}" onblur="location.href='/api?cmd=awb_blue&val='+this.value"> 
				{% else %}
					Red:{{ awb_red }} 
					Blue:{{ awb_blue }}
				{% end %}
			</div>
			<div>
				H Flip: {% if hflip %}
				<a href="/api?cmd=togglehflip" target="_self"><img class="iconbutton" src="/img/on.png"></a> {% else %}
				<a href="/api?cmd=togglehflip" target="_self"><img class="iconbutton" src="/img/off.png"></a> {% end %}
			</div>
			<div>
				V Flip: {% if vflip %}
				<a href="/api?cmd=togglevflip" target="_self"><img class="iconbutton" src="/img/on.png"></a> {% else %}
				<a href="/api?cmd=togglevflip" target="_self"><img class="iconbutton" src="/img/off.png"></a> {% end %}
			</div>
			<div>
				Shutter Speed:{{ shutter_speed }} 
			</div>
		</div>


		<div class="twocolumn">
			<div>
				Print: {% if printer %}
				<a href="/api?cmd=toggleprint" target="_self"><img class="iconbutton" src="/img/on.png"></a> {% else %}
				<a href="/api?cmd=toggleprint" target="_self"><img class="iconbutton" src="/img/off.png"></a> {% end %}
			</div>
			<div>
				Photo Booth: {% if booth %}
				<a href="/api?cmd=togglebooth" target="_self"><img class="iconbutton" src="/img/on.png"></a> {% else %}
				<a href="/api?cmd=togglebooth" target="_self"><img class="iconbutton" src="/img/off.png"></a> {% end %}
			</div>
		</div>

		<div class="twocolumn">
			<div>
				Delay:
				<a href="/api?cmd=delaydn" target="_self"><img class="iconbutton" src="img/decrease.png"></a> {{ delay }}
				<a href="/api?cmd=delayup" target="_self"><img class="iconbutton" src="img/increase.png"></a>
			</div>

			<div>Burst:
				<a href="/api?cmd=burstdn" target="_self"><img class="iconbutton" src="img/decrease.png"></a> {{ burstsize }}
				<a href="/api?cmd=burstup" target="_self"><img class="iconbutton" src="img/increase.png"></a>
			</div>
		</div>



		<div class="section"> Printer </div>

		<div class="twocolumn">
			<div>Baudrate:
				<select name="baudrate" id="baudrate" value="{{ baudrate }}" onchange="location.href='/api?cmd=baudrate&val='+this.value">
				{% for choice in baud_choices %}
					{% if baudrate == choice %} <option selected value="{{ choice }}">{{ choice }}</option> {% else %} <option value="{{ choice }}">{{ choice }}</option> {% end %}
				{% end %}
			</select>
			</div>
		</div>

		<div class="twocolumn">
			<div>Darkness:
				<a href="/api?cmd=darknessdn" target="_self"><img class="iconbutton" src="img/decrease.png"></a> {{ darkness }}
				<a href="/api?cmd=darknessup" target="_self"><img class="iconbutton" src="img/increase.png"></a>
			</div>
		</div>

		<div>Tagline:
			<input type="text" id="tagline" value="{{ tagline }}" onblur="location.href='/api?cmd=tagline&val='+this.value">
		</div>

		<div>
			Print Speed:
			<input type="text" id="dotprinttime" value="{{ dotprinttime }}" onblur="location.href='/api?cmd=printspeed&val='+this.value">
		</div>

		<div class="section"> System </div>

		<div>
			Web Port:
			<input type="text" id="webport" value="{{ webport }}" onblur="location.href='/api?cmd=webport&val='+this.value">
		</div>


		<div>
			<span>
				Help: {% if help %}
				<a href="/api?cmd=togglehelp" target="_self"><img class="iconbutton" src="/img/on.png"></a> {% else %}
				<a href="/api?cmd=togglehelp" target="_self"><img class="iconbutton" src="/img/off.png"></a> {% end %}
			</span>

			<a href=" /api?cmd=backup" target="_self"><button class="button smallbutton">BACKUP</button></a>
			<a href=" /api?cmd=resture" target="_self"><button class="button smallbutton">RESTORE</button></a>
		</div>
		<div>
			<a href=" /api?cmd=exit" target="_self"><button class="button smallbutton">QUIT</button></a>

			<a href="/api?cmd=reboot" target="_self"><button class="button smallbutton">REBOOT</button></a>
			<a href="/api?cmd=shutdown" target="_self"><button class="button smallbutton">SHUTDOWN</button></a>

			<a href="/api?cmd=forceap" target="_self"><button class="button smallbutton">AP</button></a>
		</div>

		<script type='text/javascript' src='camapi.js'></script>
		
		<script type="text/javascript">
			window.onbeforeunload = function () {
				stop_requests();
			};
			// Connect a websocket to the server.
			client.connect();
		</script>
		
</body>

</html>