/* style sheet for PolaPi */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

input, select {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #777;
    text-indent: 2px;
}

/* this next pair sure feels like a bad hack */
select {
    text-align-last: right;
}
option {
    direction: rtl;

}

/* deal with the iPhe 5S */
@media only screen and (max-width: 360px) {
    body {
        font-size: 12px;
    }
}

.banner {
}

.title {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
}
.error-message {
    text-align: center;
    width: 100%;
    color: #aa0000;
}

.separator {
    width: 100%;
    margin-top: 8px;
    border-bottom: 4px solid #111111;
}

.photoset {
}

.thumbnail {
    display: inline-block;
    width: 49%;
    max-width: 212px;
}

.thumbnail .image {
    width: 100%;
}
.thumbnail .printbutton, .thumbnail .deletebutton, .thumbnail .zoombutton {
    height: 32px;
    margin-bottom: -32px;
    position: relative;
    bottom: 38px;
    display: table-caption;
    opacity: 0.5;
}
.thumbnail .printbutton {
    margin-left: 2px;
    float: left;
}
.thumbnail .deletebutton {
    margin-right: 2px;
    float: right;
}
.thumbnail .zoombutton {
    margin-left: -16px;
    float: left;
    left: 50%;
}

.button, .smallbutton, .iconbutton {
    vertical-align: middle;
    border: 0px;
    height: 30px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #777;
}
.redbutton {
    background-color: #aa0000;
    border-color: #770000;
}
.bluebutton {
    background-color: #0000aa;
    border-color: #000077;
}
.greenbutton {
    background-color: #007700;    
    border-color: #005500;
}
/* deal with the iPhe 5S */
@media only screen and (max-width: 320px) {
    .button, .smallbutton, .iconbutton {
        height: 24px;
        font-size: 0.8em;
    }
    select {
        font-size: 10px;
    }
}

.button {
    padding: 0 8px;
}
.smallbutton {
    padding: 0 4px;
    height: 16px;
}
.iconbutton {
    border-radius: 15px;
    border-width: 0;
}
.textbutton {
    width: 100px;
}

.admin {
    line-height: 32px; /* more than the button height */
}
/* deal with the iPhe 5S */
@media only screen and (max-width: 360px) {
    .admin {
        line-height: 32px; /* more than the button height */
    }
}

.section {
font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    width: 100%;
    background-color: #444444;
    color: #eeeeee;
    margin: 12px 0 0 -8px;
    padding: 0 4px 0 12px;
}

.twocolumn {
    width: 49%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}
.left {
    float: left;
    display: inline-block;
    width: inherit;
    margin-left: 4px;
}
.right {
    float: right;
    display: inline-block;
    width: inherit;
    margin-right: 4px;
}

.remotecontrol {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;        
}
.bigcircle {
	width: 200px;
    height: 200px;
    position: relative;
    top: 100px;
	background: red;
	-moz-border-radius: 108px;
	-webkit-border-radius: 108px;
    border-radius: 108px;
    border: 4px solid #700;
}